{% extends "mainapp/base.html"%}

{% block page_header %}
<div style="background-color: #2E4C6D!important;" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="color: #FC997C !important" class="display-4">All Games</h1>
      <p style="color: #FC997C !important">A network for loaning games to and from users</p>
    </div>
  </div>
{% endblock page_header %}
{% block content %}

 <div class="container">
  
    <div class="row">
       <div class="col-md-3 themed-grid-col">Name</div>
       <div class="col-md-3 themed-grid-col">Owner</div>
       <div class="col-md-3 themed-grid-col">Summary</div>
       <div class="col-md-3 themed-grid-col"></div>
     </div>
     <hr>
    <div class="row">
			
      {% for game in games %}
      <div class="col-md-3 themed-grid-col"><a href="{%url 'mainapp:game' game.id %}">{{ game.name }}</a></div>
      <div class="col-md-3 themed-grid-col">{{ game.owner}}</div>
      <div class="col-md-3 themed-grid-col">{{ game.summary }}</div>
      <div class="col-md-3 themed-grid-col"></div>
      
    
   {% empty %}
     <div class="col-md-4 themed-grid-col"> No games added yet</div>
   {% endfor %}
    </div>
   

  </div> 

{% endblock content %}
