{% extends "mainapp/base.html"%}
{% block page_header %}
<div style="background-color: #2E4C6D!important;" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="color: #FC997C !important" class="display-4">Edit game: {{ game.name }}</h1>
      <p style="color: #FC997C !important">A network for loaning games to and from users</p>
    </div>
  </div>
{% endblock page_header %}
{% block content %}

<div class="container">

  <p>Edit game:</p>
  <form action="{% url 'mainapp:editgame' game.id %}" method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      <button name="submit">Save changes</button>
  </form>
</div>  
{% endblock content %}  