{% extends 'mainapp/base.html' %}

{% block page_header %}
<div style="background-color: #2E4C6D!important;" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="color: #FC997C !important" class="display-4">{{ game.name }}</h1>
      <p style="color: #FC997C !important"></p>
    </div>
  </div>
  {% endblock page_header %}

{% block content %}
       
<div class="container">
        
        
           
        
        <h2>Title:</h2>
        <div class="col-md-3 themed-grid-col">{{ game.name }}</div>
        <hr>
        <h2>Summary of the game:</h2>
        <div class="col-md-3 themed-grid-col">{{ game.summary }}</div>
        <hr>
        <h2>Owner:</h2>
        <div class="col-md-3 themed-grid-col">{{ game.owner }}</div>
        <hr>
        Status:
        {% if game.status == 'a' %}
          Available <a href="{% url 'mainapp:new_loan' game.id %}">Loan this game:</a>
        {% else %}
        Not available
        {% endif %}

        <p></p>
        Game added:
        <div class="col-md-3 themed-grid-col">{{ game.date_added }}</div>
        
        {% for loan in loans %}
          <div class="card mb-3">
                  <h4 class="card-header">
                        {{ loan.date_added|date:'M d, Y H:i' }}
                        <small><a href="{% url 'mainapp:editloan' loan.id %}">Edit loan</a></small>
                  </h4>
                  <div class="card-body">
                        {{ loan.date_added|linebreaks }}
                  </div>
          </div>
               
        {% empty %}
                <p>This game has not been loaned yet.</p>
        {% endfor %}
        
</div>      
{% endblock content%}