{% extends "mainapp/base.html"%}
{% block page_header %}
<div style="background-color: #2E4C6D!important;" class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 style="color: #FC997C !important" class="display-4">Add a new Game</h1>
      <p style="color: #FC997C !important">A network for loaning games to and from users</p>
    </div>
  </div>
  {% endblock page_header %}
{% block content %}
  <p>Add a new game:</p>

  <form action="{% url 'mainapp:new_book'%}" method='post'>
      {% csrf_token %}
      {{ form.as_p }}
      
      <button name="submit">Add a game</button>
  </form>

{% endblock content %}  